@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
}

.divs {
    width: 90px;
    height: 90px;
    margin: auto;

    position: relative;
}

div > h1 {
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#vermelho {
    background-color: red;
    left: -100px;
    top: 100px;
}

#amarelo {
    background-color: yellow;
}

#verde {
    background-color: green;
}

#azul {
    background-color: blue;
}